<div class="container">
  <div class="loading-indicator" *ngIf="isLoader">
    <mat-progress-spinner [diameter]="50" mode="indeterminate"></mat-progress-spinner>
  </div>
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>Zdaly Assignment</span>
  </div>
  <div class="spacer">
        <mat-form-field>
          <i matPrefix class="material-icons" style="font-size: small; margin-right: 2px;">
            search
            </i>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search transaction">
        </mat-form-field>
        
        <mat-card class="mat-elevation-z8">
          <!-- <mat-card-content > -->
            <table mat-table [dataSource]="dataSource" matSort>
          
              <ng-container matColumnDef="account_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Number </th>
                <td mat-cell *matCellDef="let row"> {{row['Account No']}} </td>
              </ng-container>
          
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.Date}} </td>
              </ng-container>
          
              <ng-container matColumnDef="transc_details">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Details </th>
                <td mat-cell *matCellDef="let row"> {{row['Transaction Details']}} </td>
              </ng-container>
          
              <ng-container matColumnDef="value_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Value Date </th>
                <td mat-cell *matCellDef="let row"> {{row['Value Date']}} </td>
              </ng-container>
  
              <ng-container matColumnDef="withdrawal_amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Withdrawal AMT </th>
                <td mat-cell *matCellDef="let row"> {{row['Withdrawal AMT'] ? row['Withdrawal AMT'] : '-'}} </td>
              </ng-container>
  
              <ng-container matColumnDef="deposit_amt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Deposit AMT </th>
                <td mat-cell *matCellDef="let row"> {{row['Deposit AMT']}} </td>
              </ng-container>
  
              <ng-container matColumnDef="balance_amt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance AMT </th>
                <td mat-cell *matCellDef="let row"> {{row['Balance AMT']}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
          <!-- </mat-card-content> -->
        </mat-card>
        
  </div>
  <div align="center">
    <fusioncharts
    [width]="width"
    [height]="height"
    [type]="type"
    [dataFormat]="dataFormat"
    [dataSource]="dataSource2"
    >
    </fusioncharts>
  </div>
</div>


